body {
    margin: 0 auto;
    width: 50vh;
    height: 100vh;
    border: 1px solid #000;
}

header {
    text-align: center;
    line-height: 10vh;
    height: 10vh;
    font-size: 18px;
    border-bottom: 1px solid #000;
    background-color: #eee;
    z-index: 1;
}

footer {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 100vh;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #eee;
    z-index: 1;
}

.search {
    height: 25px;
    border-bottom: 1px solid #666;
}

.search input {
    width: 65%;
}

.search button {
    border-radius: 30%;
    border: 1px solid #666;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px;
    margin: 0;
    height: 75vh;
    z-index: 0;
    overflow-y: scroll;
}

li {
    list-style: none;
}

.talkroom {
    display: flex;
    width: 100%;
    height: auto;
    gap: 5px;
    border-bottom: 1px solid #000;
}

a, a:visited {
    text-decoration: none;
    color: #000 !important;
}

.profile_image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #666;
}

.null_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #666;
    border: 1px solid #000;
}

span {
    font-size: 10px;
}

.people_img {
    width: 24px;
}

.setting_img {
    width: 24px;
}

.footer_a {
    width: 50%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    align-items: center;
}