body {
    margin: 0 auto;
    width: 50vh;
    height: 100vh;
    border: 1px solid #000;
}

header {
    text-align: center;
    line-height: 10vh;
    height: 10vh;
    font-size: 18px;
    border-bottom: 1px solid #000;
}

form {
    position: relative;
    left: 10px;
    font-size: 12px;
    width: 90%;
}

input[type="file"]{
    font-size: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 100vh;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #eee;
    z-index: 1;
}

a, a:visited {
    text-decoration: none;
    color: #000 !important;
}

.people_img {
    width: 24px;
}

.setting_img {
    width: 24px;
}

.footer_a {
    width: 50%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    align-items: center;
}